In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cleaned_data2.csv')

In [4]:
df.drop(['Unnamed: 0'], 1, inplace=True)

In [6]:
df.head()

,Event.Id,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Injury.Severity,Aircraft.Damage,Aircraft.Category,Make,Model,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Broad.Phase.of.Flight
0,20200102X82407,2019-12-31,"Elk, CA",United States,39.128611,-123.715833,LLR,Non-Fatal,Substantial,Airplane,Cessna,175,0.0,0.0,0.0,1.0,TAKEOFF
1,20191231X83852,2019-12-31,"OLATHE, KS",United States,38.846111,-94.736111,OJC,Fatal(2),Destroyed,Airplane,Mooney,M20S,2.0,0.0,0.0,0.0,TAKEOFF
2,20200102X54844,2019-12-31,"Fairbanks, AK",United States,64.666945,-148.133334,UNKNOWN,Non-Fatal,Substantial,Airplane,Cessna,170,0.0,0.0,0.0,2.0,UNKNOWN
3,20191230X91852,2019-12-30,"GRANBURY, TX",United States,32.365556,-97.645000,UNKNOWN,Non-Fatal,Substantial,Airplane,Vans,RV 10,0.0,0.0,0.0,1.0,UNKNOWN
4,20191228X23853,2019-12-28,"LAFAYETTE, LA",United States,30.176111,-92.007500,LFT,Fatal(5),Destroyed,Airplane,Piper,PA 31T,5.0,2.0,2.0,0.0,TAKEOFF

In [7]:
df['Event.Date'] = pd.to_datetime(df['Event.Date'])

In [8]:
df.head()

,Event.Id,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Injury.Severity,Aircraft.Damage,Aircraft.Category,Make,Model,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Broad.Phase.of.Flight
0,20200102X82407,2019-12-31,"Elk, CA",United States,39.128611,-123.715833,LLR,Non-Fatal,Substantial,Airplane,Cessna,175,0.0,0.0,0.0,1.0,TAKEOFF
1,20191231X83852,2019-12-31,"OLATHE, KS",United States,38.846111,-94.736111,OJC,Fatal(2),Destroyed,Airplane,Mooney,M20S,2.0,0.0,0.0,0.0,TAKEOFF
2,20200102X54844,2019-12-31,"Fairbanks, AK",United States,64.666945,-148.133334,UNKNOWN,Non-Fatal,Substantial,Airplane,Cessna,170,0.0,0.0,0.0,2.0,UNKNOWN
3,20191230X91852,2019-12-30,"GRANBURY, TX",United States,32.365556,-97.645000,UNKNOWN,Non-Fatal,Substantial,Airplane,Vans,RV 10,0.0,0.0,0.0,1.0,UNKNOWN
4,20191228X23853,2019-12-28,"LAFAYETTE, LA",United States,30.176111,-92.007500,LFT,Fatal(5),Destroyed,Airplane,Piper,PA 31T,5.0,2.0,2.0,0.0,TAKEOFF

In [9]:
start_date = '01-01-1982'
end_date = '04-08-2020'

In [10]:
mask = (df['Event.Date'] >= start_date) & (df['Event.Date'] <= end_date)

In [11]:
ndf = df.loc[mask]

In [12]:
ndf

,Event.Id,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Injury.Severity,Aircraft.Damage,Aircraft.Category,Make,Model,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Broad.Phase.of.Flight
0,20200102X82407,2019-12-31,"Elk, CA",United States,39.128611,-123.715833,LLR,Non-Fatal,Substantial,Airplane,Cessna,175,0.0,0.0,0.0,1.0,TAKEOFF
1,20191231X83852,2019-12-31,"OLATHE, KS",United States,38.846111,-94.736111,OJC,Fatal(2),Destroyed,Airplane,Mooney,M20S,2.0,0.0,0.0,0.0,TAKEOFF
2,20200102X54844,2019-12-31,"Fairbanks, AK",United States,64.666945,-148.133334,UNKNOWN,Non-Fatal,Substantial,Airplane,Cessna,170,0.0,0.0,0.0,2.0,UNKNOWN
3,20191230X91852,2019-12-30,"GRANBURY, TX",United States,32.365556,-97.645000,UNKNOWN,Non-Fatal,Substantial,Airplane,Vans,RV 10,0.0,0.0,0.0,1.0,UNKNOWN
4,20191228X23853,2019-12-28,"LAFAYETTE, LA",United States,30.176111,-92.007500,LFT,Fatal(5),Destroyed,Airplane,Piper,PA 31T,5.0,2.0,2.0,0.0,TAKEOFF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30139,20021022X05356,1989-12-01,"Engadine, MI",United States,46.154444,-85.663611,UNKNOWN,Fatal(1),Substantial,Unknown,Piper,PA-22-150,1.0,0.0,0.0,0.0,UNKNOWN
30140,20001213X27446,1988-12-23,"Midway Islands, PO",United States,38.540000,-173.240000,NONE,Non-Fatal,Unknown,Airplane,BOEING,747SP-21,0.0,1.0,1.0,220.0,CRUISE
30141,20020904X01525,1983-09-09,"Kalispell, MT",United States,48.120000,-113.887500,UNKNOWN,Fatal(2),Destroyed,Unknown,Cessna,182N,2.0,0.0,0.0,0.0,CRUISE
30142,20051208X01953,1983-01-08,"Goldendale, WA",United States,46.041111,-120.849722,UNKNOWN,Fatal(2),Destroyed,Unknown,Bellanca,14-19-3,2.0,0.0,0.0,0.0,CRUISE
30143,20080417X00504,1982-03-16,"Mobile, AL",United States,30.757778,-88.355555,MOB,Fatal(1),Substantial,Airplane,Beech,C24R,1.0,0.0,0.0,0.0,LANDING

In [13]:
ndf.to_csv('cleaned_final.csv')